h2{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 25px
}
span{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


#dados {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#dados td, #dados th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#dados tr:nth-child(even){
  background-color: #f2f2f2;
}

#dados tr:hover {
  background-color: #ddd;
}

#dados th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(99, 163, 179);
  color: white;
}

#dados tr.media {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(246, 247, 195);
  color: rgb(12, 11, 11);
}

.div1 {
  width: 300px;
  height: 300px;  
  padding: 50px;
  border: 2px solid gray;
  margin: 10px
}
.div2 {
  width: 300px;
  
  padding: 50px;
  border: 2px solid gray;
  margin: 5px
}
.div3 {
  width: 70%;
  
    
  padding: 20px;
  border: 2px solid gray;
  margin: 10px
}

input[type=text]  {
  width: 100%;
  padding: 5px 20px;
  margin: 2px 0;
  box-sizing: border-box;
}
input[type=number]  {
  width: 30%;
  padding: 5px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  
}
input[type=submit],[type="button"]  {
  width: 40%;
  padding: 5px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  align-content: center;
  
 
}
button{
  width: 40%;
  padding: 5px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  align-content: center;
}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

ol.animal {
  list-style-type: upper-roman;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px
}
ol.litem {
  list-style-type: circle;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 25px
}

.selecionado {
  color: red;
}